body {
    display: grid;
}

.header {
    background-color: rgb(221, 218, 218);
    display: grid;
    justify-content: center;
    padding: 10px;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}
.main {
    display: grid;
    grid-row: 2/4;
    grid-column: 1/4;

}
.main_article {
    display: grid;
    background-color: antiquewhite;
    grid-row: 2 / 4;
    grid-column: 1/3;

}
.name {
    display: grid;
    justify-content: center;
    margin-bottom: 50px;
    padding: 10px;
}
.main_article div {
    display: grid;
    background-color: rgb(243, 218, 136);
    margin: 20px;
    text-align: center;
}
.block {
    display: grid;
    grid-auto-flow: column;
}

.block:only-child {
    width: 90%;
}

.aside {
    display: grid;
    background-color: rgb(194, 235, 188);
    text-align: center;
    grid-row: 2 / 4;
    grid-column: 3/4;
}

.podval {
    background-color: rgb(221, 218, 218);
    display: grid;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    text-align: center;
    
    
}
.futer1 {
    background-color: rgb(247, 247, 247);
    grid-column: 1/2;
    margin: 20px;
    padding: 10px;
}
.futer2 {
    background-color: rgb(247, 247, 247);
    grid-column: 2/3;
    margin: 20px;
    padding: 10px;
}
.futer3 {
    background-color: rgb(247, 247, 247);
    grid-column: 3/4;
    margin: 20px;
    padding: 10px;
}
.futer4 {
    background-color: rgb(247, 247, 247);
    grid-column: 4/5;
    margin: 20px;
    padding: 10px;
}

@media screen and (max-width: 420px) {
    .podval {
        display: unset;
    }
    .aside {
        display: none;
    }
}

